@model DateSite.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container content-wrapper">
    <h2>Profile</h2>
    <div class="col-md-3">
        <img src="~/Content/ProfileImages/@(Model.pic)" width="240" height="300" />
    </div>

    <div class="col-md-9">
        <p>Name: @(Model.name)</p>
        <p>Age: @(Model.age)</p>
        <p>About: @(Model.about)</p>
        <p>Wall: @if (@Model.wallposts != null) { for (int i = 0; i < Model.wallposts.Count(); i++)
            { @Model.wallposts[i];
            } }</p>
    </div>

</div>
